.footer-container{
    border-radius: 70% 70% 0 0;
    background-color: #1F263E;
    color: white;
    
    
}
.subscricbe{
    background-color: #3A6882;
    width: 75%;
  
    
}
.link p{
    font-style: none;
}